.article__title,
.article__short-description,
.article__content p,
.article__info,
.article__top{
  margin-bottom: $gap;
}

.article__top {
  display: grid;
  grid-template-columns: vw1920(300px) 1fr;
  grid-column-gap: $gap;

  /* Media */
  @include laptop {
    grid-template-columns: vw1600(300px) 1fr;
  }
  @include large {
    grid-template-columns: vw1366(300px) 1fr;
  }
  @include tabletL {
    grid-template-columns: vw1024(300px) 1fr;
  }
  @include tablet {
    grid-template-columns: vw768(300px) 1fr;
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
}

.article__top--left {
  @include mobile {
    margin-bottom: $gap;
  }
}

.article__poster {
  width: 100%;
}

.article__info {
  width: 100%;
  color: $darkgreen;

  a {
    color: $darkgreen;
  }

  tr {
    width: 100%;
    border: 1px solid rgba($main, .2);

    td {
      padding: 5px;
    }

    td:first-child {
      font-weight: 700;
      color: $darkgreen;
    }
  }
}

.article__info-star {
  height: vw1920(14px);
  margin-right: 5px;

  /* Media */
  @include laptop {
    height: vw1600(14px);
  }
  @include large {
    height: vw1366(14px);
  }
  @include tabletL {
    height: vw1024(14px);
  }
  @include tablet {
    height: vw768(14px);
  }
  @include mobile {
    height: 12px;
  }
}
