.tag-posts__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: $gap;
  margin-bottom: $gap * 2;

  /* Media */
  @include tabletL {
    grid-template-columns: 1fr 1fr 1fr ;
  }
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
}

.tag-posts__title {
  margin-bottom: $gap;
}