/* Variables */

$fontsize: 18px; // Body Font Size // Text Color
$fontweight: 400;
$lineheight: 22px;
$accent: #FFCD00;
$white: #ffffff;
$dark: #0f1817;
$darkgreen: #394a4d;
$main: #9bacb6;
$beige: #e5dcd2;
$green: #738156;
$red: #ac0e28;
$montserrat: 'Montserrat', sans-serif;
$PlayfairDisplay: 'Playfair Display', serif;
$SourceSansPro: 'Source Sans Pro', sans-serif;
$gap: 20px;

