/* Variables */

$fontsize: 18px; // Body Font Size // Text Color
$fontweight: 400;
$lineheight: 22px;
$accent: #FFCD00;
$dark: #282828;
$darkgreen: #394a4d;
$main: #e0e3e5;
$grey: #f9f9f9;
$white: #fff;
$green: #738156;
$red: #ac0e28;
$montserrat: 'Montserrat', sans-serif;
$PlayfairDisplay: 'Playfair Display', serif;
$SourceSansPro: 'Source Sans Pro', sans-serif;
$gap: 20px;

